<p style="color: green"><%= notice %></p>

<ul>
<% @cart.line_items.each do |item| %>
  <li><%= item.product.name %> </li>
  <%end%>
</ul>

<div>
  <%= button_to "Совершить заказ", @cart, method: :delete %> |

  <%= button_to "Удалить корзину", @cart, method: :delete %>
</div>
